
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Target Error Parser</title>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Target Error Parser</a>
  <div class="collapse navbar-collapse" id="navbarNav">
      <a class="navbar-brand" href="/">
        <img src="/static/img/download.png" width="30" height="30" alt="">
       </a>
      <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/parser">Parser</a>
      </li>

    </ul>
  </div>
</nav>

  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {%  if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
  {% endwith %}

  <div id="main">{% block main %}{% endblock %}</div>


  <script src="../../../static/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  </body>
</html>