{% extends "public/templates/public_template.html" %}

{% block title %}Upload{%  endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Target Error Parser</h1>
            <p><em>AKA Dylan's Data Cleaner™</em></p>
            <hr>
            <!-- TARGET XLSX UPLOADER --!>
            <form action="/" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Select <b>Target</b> Inventory .XLSX File <em>(Should be named "target.xlsx")</em></label>
                    <div class="input-group mb-3">
                      <input type="file" class="form-control" id="inputGroupFile01" name="target_excel" id="target_excel">
                    </div>
                    <label>Select <b>Salsify</b> Inventory .XLSX File <em>(Should be named "inv.xlsx")</em></label>
                    <div class="input-group mb-3">
                      <input type="file" class="form-control" id="inputGroupFile01" name="sals_excel" id="sals_excel">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" name="xls-upload" id="xls-upload">Upload XLSX files</button>
            </form>
            <br>
            <p>Once uploaded, <a href="/parser">please click here.</a></p>

        </div>
    </div>

</div>

{% endblock %}